*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
}
.App{
  border: 1px solid black;
  width: 400px;
  height: 600px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.30);
}